.sobre{
    margin-top: 5vh;
}

.sobre section{
    display: flex;
    justify-content: space-around;
    margin: 10vh 5vh;
    font-size: 40px;
    font-weight: 200;
    color: #636363;

}

.sobre section p{
    max-width: 70vh;
}

@media (max-width: 900px) {
    .sobre section img{
        width: 350px;
        height: 350px;
    }

    .sobre section p{
        margin-top: 5vh;
        font-size: 30px;
    }
}

@media (max-width: 670px) {
    .sobre section img{
        display: none;
    }
}