@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

.header{
    margin-bottom: 9vh;
}

.logo{
    display: flex;
}

.logo img{
    margin: 10px 20px;
    width: 50px;
}

.logo p{
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: 600;
    font-family: 'Josefin Slab', sans-serif;
    margin-top: 20px;
}

.confira{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.confira p, strong{
    max-width: 80vh;
    font-size: 50px ;

}

.confira section a button{
    width: 15vh;
    font-size: larger;
    margin-top: 5vh;
}

.botao{
    justify-content: center;
}


@media (max-width: 900px) {
    .confira p, strong {
        font-size: 30px;
    }

    .confira img{
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 670px) {
   h1{
    font-size: 5rem;
   }
    .confira p, strong {
        margin-top: 2vh;
    }
    .confira img{
        display: none;
    }

    .confira section p{
        font-size: 4rem;
    }
    .confira section p strong{
        font-size: 4rem;
    }
}